<section class="activities">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h2 class="activities_title text-center">Lĩnh vực hoạt động</h2>
            </div>
            <div id="owl-demo-activities" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="col-xs-12 activities_item">
                        <div class="activities-policy-item-parent">
                            <div class="activities-policy-item">
                                <span class="activities-policy-icon"><img alt="Ranger theme" src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/light-min.png?1472194204996"></span> <!-- End .policy-icon -->
                                <span class="activities-policy-text">
                                    <p>THIẾT KẾ SÁNG TẠO</p>
                                </span> <!-- End .policy-text -->
                            </div>
                        </div> <!-- End .policy-item -->
                        <p class="activities_item_text">Chúng tôi tạo ra những sản phẩm khác biệt và độc đáo dựa trên những ý tưởng sáng tạo cùng những bản vẽ chất lượng cao...</p>
                        <ul>
                            <li><a href="#">Nghiên cứu đánh giá thương hiệu</a></li>
                            <li><a href="#">Nghiên cứu đánh giá thương hiệu</a></li>
                            <li><a href="#">Nghiên cứu đánh giá thương hiệu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="col-xs-12 activities_item">
                        <div class="activities-policy-item-parent">
                            <div class="activities-policy-item">
                                <span class="activities-policy-icon"><img alt="Ranger theme" src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/conf-min.png?1472194204996"></span> <!-- End .policy-icon -->
                                <span class="activities-policy-text">
                                    <p>TƯ VẤN THI CÔNG</p>
                                </span> <!-- End .policy-text -->
                            </div>
                        </div> <!-- End .policy-item -->
                        <p class="activities_item_text">Chúng tôi tạo ra những sản phẩm khác biệt và độc đáo dựa trên những ý tưởng sáng tạo cùng những bản vẽ chất lượng cao...</p>
                        <ul>
                            <li><a href="#">Nghiên cứu đánh giá thương hiệu</a></li>
                            <li><a href="#">Nghiên cứu đánh giá thương hiệu</a></li>
                            <li><a href="#">Nghiên cứu đánh giá thương hiệu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="col-xs-12 activities_item">
                        <div class="activities-policy-item-parent">
                            <div class="activities-policy-item">
                                <span class="activities-policy-icon"><img alt="Ranger theme" src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/building-min.png?1472194204996"></span> <!-- End .policy-icon -->
                                <span class="activities-policy-text">
                                    <p>GIẢI PHÁP TRỌN GÓI</p>
                                </span> <!-- End .policy-text -->
                            </div>
                        </div> <!-- End .policy-item -->
                        <p class="activities_item_text">Chúng tôi tạo ra những sản phẩm khác biệt và độc đáo dựa trên những ý tưởng sáng tạo cùng những bản vẽ chất lượng cao...</p>
                        <ul>
                            <li><a href="#">Nghiên cứu đánh giá thương hiệu</a></li>
                            <li><a href="#">Nghiên cứu đánh giá thương hiệu</a></li>
                            <li><a href="#">Nghiên cứu đánh giá thương hiệu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
