<div class="brand">
      <div class="container">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div id="owl-demo-brand" class="owl-carousel owl-theme">
                  <div class="item">
                      <a href="#">
                          <img alt="
          Ranger theme
          " src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/brand1.png?1472194204996" class="img-responsive" />
                      </a>
                  </div>
                  <div class="item">
                      <a href="#">
                          <img alt="
          Ranger theme
          " src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/brand2.png?1472194204996" class="img-responsive" />
                      </a>
                  </div>
                  <div class="item">
                      <a href="#">
                          <img alt="
          Ranger theme
          " src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/brand3.png?1472194204996" class="img-responsive" />
                      </a>
                  </div>
                  <div class="item">
                      <a href="#">
                          <img alt="
          Ranger theme
          " src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/brand4.png?1472194204996" class="img-responsive" />
                      </a>
                  </div>
                  <div class="item">
                      <a href="#">
                          <img alt="
          Ranger theme
          " src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/brand5.png?1472194204996" class="img-responsive" />
                      </a>
                  </div>
                  <div class="item">
                      <a href="#">
                          <img alt="
          Ranger theme
          " src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/brand6.png?1472194204996" class="img-responsive" />
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
