<section class="contact_info">
      <div class="container">
          <div class="row ">
              <div class="policy">
                  <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                      <div class="policy-item">
                          <span class="policy-icon"><i class="fa fa-phone"></i></span> <!-- End .policy-icon -->
                          <span class="policy-text">
                              <h2>Số điện thoại:</h2>
                              <p>0169 683 1232</p>
                          </span> <!-- End .policy-text -->
                      </div> <!-- End .policy-item -->
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                      <div class="policy-item">
                          <span class="policy-icon"><i class="fa fa-envelope"></i></span> <!-- End .policy-icon -->
                          <span class="policy-text">
                              <h2>Email:</h2>
                              <p>Mail.Toan95@gmail.com</p>
                          </span> <!-- End .policy-text -->
                      </div> <!-- End .policy-item -->
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                      <div class="policy-item">
                          <span class="policy-icon"><i class="fa fa-weixin"></i></span> <!-- End .policy-icon -->
                          <span class="policy-text">
                              <h2>Hỗ trợ online:</h2>
                              <p>0169 683 1232</p>
                          </span> <!-- End .policy-text -->
                      </div> <!-- End .policy-item -->
                  </div>
              </div> <!-- End .policy -->
          </div>
      </div>
  </section>
