<div class="home-slide">
    <div class="container-fluid">
        <div class="row ">
            <div id="owl-demo-slide" class="owl-carousel owl-theme">
                <div class="item">
                    <a href="#" title="Slide">
                        <img src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/slider-1.jpg?1472194204996" alt="Slide">
                    </a>
                </div>
                <div class="item">
                    <a href="#" title="Slide">
                        <img src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/slider-2.jpg?1472194204996" alt="Slide">
                    </a>
                </div>
                <div class="item">
                    <a href="#" title="Slide">
                        <img src="//bizweb.dktcdn.net/100/052/640/themes/134620/assets/slider-3.jpg?1472194204996" alt="Slide">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
