<section class="news_jobs">
    <div class="container">
        <div class="row ">
            <div class="col-sm-6 col-md-8 div-new-news-content">
                <div class="row ">
                    <div class="col-xs-12 section-slide-header">
                        <h2>Tin tức mới nhất</h2>
                        <div class="page-owl-buttons">
                            <div class="page-owl-prev"><a id="new-news-pre" href="#owl-demo-new-news"><i class="fa fa-caret-left"></i></a></div>
                            <div class="page-owl-next"><a id="new-news-next" href="#owl-demo-new-news"><i class="fa fa-caret-right"></i></a></div>
                        </div>
                    </div>
                    <div id="owl-demo-new-news" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="new-item">
                                <div class="col-md-12">
                                    <div class="new-img">
                                        <a href="/nhung-mau-ghe-nghi-da-nang-dang-mo-uoc-cho-dan-van-phong" title="Những mẫu ghế nghỉ đa năng đáng mơ ước"><img src="//bizweb.dktcdn.net/thumb/large/100/052/640/articles/3-min.jpg?v=1472197286263" alt="Những mẫu ghế nghỉ đa năng đáng mơ ước"></a>
                                    </div>
                                    <h3 class="new-name"><a href="/nhung-mau-ghe-nghi-da-nang-dang-mo-uoc-cho-dan-van-phong" title="Những mẫu ghế nghỉ đa năng đáng mơ ước">Những mẫu ghế nghỉ đa năng đáng mơ ước</a></h3>
                                    <p class="new-info">1/25/2016 4:36:00 PM</p>
                                    <p class="new-description">
                                        Những thiết kế ghế nghỉ đa năng này sẽ giúp dân văn phòng có nơi thư giãn, nạp năng lượng mà không ảnh hưởng đến mỹ quan công sở".... <a href="/nhung-mau-ghe-nghi-da-nang-dang-mo-uoc-cho-dan-van-phong">[Đọc tiếp]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="new-item">
                                <div class="col-md-12">
                                    <div class="new-img">
                                        <a href="/4-thiet-ke-phong-ngu-hien-dai-dang-de-mo-uoc" title="4 thiết kế phòng ngủ hiện đại đáng để mơ ước"><img src="//bizweb.dktcdn.net/thumb/large/100/052/640/articles/4-min.jpg?v=1472197440257" alt="4 thiết kế phòng ngủ hiện đại đáng để mơ ước"></a>
                                    </div>
                                    <h3 class="new-name"><a href="/4-thiet-ke-phong-ngu-hien-dai-dang-de-mo-uoc" title="4 thiết kế phòng ngủ hiện đại đáng để mơ ước">4 thiết kế phòng ngủ hiện đại đáng để mơ ước</a></h3>
                                    <p class="new-info">1/25/2016 4:28:00 PM</p>
                                    <p class="new-description">
                                        Những thiết kế phòng ngủ năng động, hiện đại nhưng cũng không kém phần ấn tượng dưới đây có thể sẽ khiến bạn mê mẩn và ao ước có... <a href="/4-thiet-ke-phong-ngu-hien-dai-dang-de-mo-uoc">[Đọc tiếp]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="new-item">
                                <div class="col-md-12">
                                    <div class="new-img">
                                        <a href="/nhung-mon-do-noi-that-dep-den-khong-tuong" title="Những món đồ nội thất đẹp đến không tưởng"><img src="//bizweb.dktcdn.net/thumb/large/100/052/640/articles/1-min.jpg?v=1472197274157" alt="Những món đồ nội thất đẹp đến không tưởng"></a>
                                    </div>
                                    <h3 class="new-name"><a href="/nhung-mon-do-noi-that-dep-den-khong-tuong" title="Những món đồ nội thất đẹp đến không tưởng">Những món đồ nội thất đẹp đến không tưởng</a></h3>
                                    <p class="new-info">1/25/2016 4:22:00 PM</p>
                                    <p class="new-description">
                                        Chất liệu tre, trúc vốn được mặc định với sự giản dị, đơn sơ, truyền thống. Song, những thiết kế đồ nội thất từ tre trúc dưới đây sẽ... <a href="/nhung-mon-do-noi-that-dep-den-khong-tuong">[Đọc tiếp]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="new-item">
                                <div class="col-md-12">
                                    <div class="new-img">
                                        <a href="/mau-thiet-ke-phong-ngu-cuc-ky-doc-dao-sang-tao" title="Mẫu thiết kế phòng ngủ cực kỳ độc đáo sáng tạo"><img src="//bizweb.dktcdn.net/thumb/large/100/052/640/articles/2-min.jpg?v=1472197259090" alt="Mẫu thiết kế phòng ngủ cực kỳ độc đáo sáng tạo"></a>
                                    </div>
                                    <h3 class="new-name"><a href="/mau-thiet-ke-phong-ngu-cuc-ky-doc-dao-sang-tao" title="Mẫu thiết kế phòng ngủ cực kỳ độc đáo sáng tạo">Mẫu thiết kế phòng ngủ cực kỳ độc đáo sáng tạo</a></h3>
                                    <p class="new-info">1/25/2016 4:16:00 PM</p>
                                    <p class="new-description">
                                        Với mỗi căn nhà hay căn hộ chung cư của bạn thì việc thiết kế nội thất chung cư để tạo nên vẻ đẹp thẩm mỹ, đặc biệt là... <a href="/mau-thiet-ke-phong-ngu-cuc-ky-doc-dao-sang-tao">[Đọc tiếp]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="new-item">
                                <div class="col-md-12">
                                    <div class="new-img">
                                        <a href="/den-trang-tri-theo-phong-thuy" title="Đèn trang trí theo phong thủy"><img src="//bizweb.dktcdn.net/thumb/large/100/052/640/articles/den.jpg?v=1454032232417" alt="Đèn trang trí theo phong thủy"></a>
                                    </div>
                                    <h3 class="new-name"><a href="/den-trang-tri-theo-phong-thuy" title="Đèn trang trí theo phong thủy">Đèn trang trí theo phong thủy</a></h3>
                                    <p class="new-info">5/29/2015 4:21:00 PM</p>
                                    <p class="new-description">
                                        Việc trang trí đèn hợp lý theo Phong Thủy không chỉ giúp căn nhà đẹp hơn mà còn mang đến may mắn cho gia chủ. Theo các chuyên gia... <a href="/den-trang-tri-theo-phong-thuy">[Đọc tiếp]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 div-new-jobs-content">
                <div class="section-slide-header">
                    <h2>Tuyển dụng</h2>
                    <div class="page-owl-buttons">
                        <div class="page-owl-prev"><a id="jobs-pre" href="#owl-demo-jobs"><i class="fa fa-caret-left"></i></a></div>
                        <div class="page-owl-next"><a id="jobs-next" href="#owl-demo-jobs"><i class="fa fa-caret-right"></i></a></div>
                    </div>
                </div>
                <div id="owl-demo-jobs" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="jobs-item">
                            <div class="col-xs-3 no-padding-l">
                                <div class="jobs-img">
                                    <a href="/tim-doi-tac-cho-cong-ty" title="Tìm đối tác cho công ty"><img src="//bizweb.dktcdn.net/thumb/small/100/052/640/articles/001.jpg?v=1469538781930" alt="Tìm đối tác cho công ty"></a>
                                </div>
                            </div>
                            <div class="col-xs-9 no-padding-l">
                                <h3 class="jobs-name"><a href="/tim-doi-tac-cho-cong-ty" title="Tìm đối tác cho công ty">Tìm đối tác cho công ty</a></h3>
                                <p class="jobs-info">1/28/2016 3:48:00 PM</p>
                            </div>
                        </div>
                        <div class="jobs-item">
                            <div class="col-xs-3 no-padding-l">
                                <div class="jobs-img">
                                    <a href="/nhan-vien-tu-van-ha-noi-va-hcm" title="Nhân viên tư vấn Hà Nội và HCM"><img src="//bizweb.dktcdn.net/thumb/small/100/052/640/articles/003.jpg?v=1469538815073" alt="Nhân viên tư vấn Hà Nội và HCM"></a>
                                </div>
                            </div>
                            <div class="col-xs-9 no-padding-l">
                                <h3 class="jobs-name"><a href="/nhan-vien-tu-van-ha-noi-va-hcm" title="Nhân viên tư vấn Hà Nội và HCM">Nhân viên tư vấn Hà Nội và HCM</a></h3>
                                <p class="jobs-info">1/28/2016 3:46:00 PM</p>
                            </div>
                        </div>
                        <div class="jobs-item">
                            <div class="col-xs-3 no-padding-l">
                                <div class="jobs-img">
                                    <a href="/can-tuyen-gap-nhan-vien-kinh-doanh" title="Cần tuyển gấp nhân viên kinh doanh"><img src="//bizweb.dktcdn.net/thumb/small/100/052/640/articles/002.jpg?v=1469538836603" alt="Cần tuyển gấp nhân viên kinh doanh"></a>
                                </div>
                            </div>
                            <div class="col-xs-9 no-padding-l">
                                <h3 class="jobs-name"><a href="/can-tuyen-gap-nhan-vien-kinh-doanh" title="Cần tuyển gấp nhân viên kinh doanh">Cần tuyển gấp nhân viên kinh doanh</a></h3>
                                <p class="jobs-info">1/28/2016 3:45:00 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
