<section class="page_title">
    <h1 class="text-center"><%= title %></h1>
</section>
<style>
    section.page_title {
        padding-top: 80px;
        padding-bottom: 80px;
        background: url("//bizweb.dktcdn.net/100/052/640/themes/134620/assets/bc_cart.jpg?1472194204996");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
</style>
<div class="header-breadcrumb">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="/" title="Trang chủ">Trang chủ </a> </li>
                    <li class="active breadcrumb-title"><%= title %></li>
                </ol>
            </div>
        </div>
    </div>
</div>