<script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/slick.js?1472194204996' type='text/javascript'></script>
<script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/main.js?1472194204996' type='text/javascript'></script>
<script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/bootstrap.js?1472194204996' type='text/javascript'></script>
<script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/jquery.menu-aim.js?1472194204996' type='text/javascript'></script>
<script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/menu.js?1472194204996' type='text/javascript'></script>
<div class="overlayopacity"></div>
<div class="ajax-error-modal modal">
    <div class="modal-inner">
        <div class="ajax-error-title">Lỗi</div>
        <div class="ajax-error-message"></div>
    </div>
</div>
<script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/components.js?1472194204996' type='text/javascript'></script>
<script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/app.js?1472194204996' type='text/javascript'></script>
<script src='//bizweb.dktcdn.net/assets/themes_support/api.jquery.js?16052016' type='text/javascript'></script>
<script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/ajax-cart.js?1472194204996' type='text/javascript'></script>
<script>
    $(document).ready(function () {
        App.init(); // init core
    });
</script>
